pxTorem(a)
  a/37.5rem
a
  &:hover
    text-decoration none
.container
  margin pxTorem(56) 0
::-webkit-scrollbar
  width pxTorem(5)
::-webkit-scrollbar-thumb
  border-radius pxTorem(10)
  -webkit-box-shadow inset 0 0 5px rgba(0,0,0,.3)
//tab切换
.mu-tabs
  position fixed
  top pxTorem(56)
  left 0
  background-color #f6f6f6
  .mu-tab-link
    min-height pxTorem(48)
    padding-top pxTorem(12)
    padding-bottom pxTorem(12)
    color #999
  .mu-tab-active
    color #009688
.mu-tab-link-highlight
  background-color #009688
//发布话题
  .container
    padding pxTorem(12)
    .mu-text-field
      width 100%
      min-height pxTorem(72)
      margin-bottom pxTorem(8)
      color rgba(0, 0, 0, 1)
      &.focus-state
        color #009688
      .mu-text-field-content
        padding-top  pxTorem(28)
        padding-bottom pxTorem(12)
        .mu-text-field-label
          font-size 16px
          top pxTorem(8)
        .mu-text-field-focus-line
          background-color #009688
        .mu-dropDown-menu
          height pxTorem(32)
          .mu-dropDown-menu-text
            line-height pxTorem(32)
            height pxTorem(32)
            padding-right pxTorem(24)
            .mu-dropDown-menu-text-overflow
              font-size 16px
              color #252525
              font-weight bold
        .mu-text-field-hint
          font-size 14px
        .mu-text-field-input
          height pxTorem(32)
          overflow-x hidden
    .content
      height 8rem
      background-color #f0f0f0
      padding pxTorem(10)
      border-radius 3px
      overflow-x hidden
      overflow-y auto
      .mu-text-field-content
        padding-top pxTorem(4)
  .mu-menu-item-wrapper
    &.active
      color #009688
  .mu-raised-button
    background-color #009688
    height pxTorem(36)
    line-height pxTorem(36)
    min-width pxTorem(140)
//  我的列表
.mu-list
  .mu-item-wrapper
    .mu-item
      padding-left pxTorem(50)
      padding-right pxTorem(56)
      min-height pxTorem(48)
      .mu-item-left
        width pxTorem(40)
        max-height pxTorem(72)
        left pxTorem(16)
        .mu-icon
          color #009688
      .mu-item-right
        width pxTorem(40)
        max-height pxTorem(72)
        right pxTorem(12)
